<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<h1>404</h1>
	<h3>Oops!</h3>
	<h5>Something went wrong..</h5>
	<a href="/">Go back to home</a>
	<script src="/js/script.js"></script>
</body>
</html>
