<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>
  <a href="/blog/create">Create post</a>

	<script src="/js/script.js"></script>
</body>
</html>
