 <header class="navigation-container">
      <a href="/">
      <h1 class="logo">Logo</h1>
      </a>
      <nav>
          <a href="/" class="active">Home</a>
          <a href="/blog">Blog</a>
      </nav>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </header>
